.background-image-container {
    position: relative;
    width: 100%;
    height: 92vh;
    overflow: hidden;
  }
  
  .background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .button-container {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
  }
  
  .top-buttons {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
  }
  
  