<div class="background-image-container">
    <img src="../../assets/h-pic.jpg" class="background-image">
    <div class="button-container">
      <div class="top-buttons">
        <button type="button" class="btn btn-primary mr-2" (click)="updateBusDetails(bus)">Update Bus Details</button>
        <button type="button" class="btn btn-info mr-2" (click)="updateBusOperator(operator.operatorId)">Update BusOperator</button>
       <button (click)="getAllBus()">Get ALL Bus Details</button>
       <button type="button" class="btn btn-danger align-self-start" (click)="logout()">Logout</button>
</div>
</div>
</div>
