<div class="background-image-container">
  <img src="../../assets/h-pic.jpg" class="background-image">
  <div class="button-container">
    <div class="top-buttons">
      <button type="button" class="btn btn-primary mr-2" (click)="getalladmins()">Display All Admins</button>
      <button type="button" class="btn btn-primary mr-2" (click)=" getallUsers()">Display All Users</button>
      <button type="button" class="btn btn-primary mr-2" (click)=" getallOperator()">Display All BusOperator</button>
      <button type="button" class="btn btn-info mr-2" (click)="updateAdmin(admin.adminId)">Update Admin</button>
      <button type="button" class="btn btn-success" (click)="createBus()">Add Bus</button>
      <button type="button" class="btn btn-danger align-self-start" (click)="logout()">Logout</button>
  </div>
</div>
</div>

