<div class="background-image-container">
  <img src="../../assets/h-pic.jpg" class="background-image">
  <div class="form-container">
    <form (ngSubmit)="onSubmit(sourceCity.value, destinationCity.value, date.value)">
      <div class="form-group">
     
        <input type="text" id="sourceCity" name="sourceCity" class="form-control" required #sourceCity placeholder="Source City">
      </div>
      <div class="form-group">
       
        <input type="text" id="destinationCity" name="destinationCity" class="form-control" required #destinationCity placeholder="Destination City">
      </div>
      <div class="form-group">
       
        <input type="date" id="date" name="date" class="form-control" required #date placeholder="Date">
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
    </form>
  </div>
  <div class="copyright">
    <p>&copy; 2023 Hexaware. All Rights Reserved.</p>
  </div>
</div>
