<div class="main">
  <div class="container" style="background-color: rgba(37, 97, 0, 0.34);">
    <div class="container">
      <table class="table table-striped table-bordered">
        <thead class="thead-dark">
          <tr>
            <th scope="col">SNO.</th>
            <th scope="col">Admin Id</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="adminList.length === 0; else adminData">
            <td colspan="7" class="text-center">No admins available.</td>
          </tr>
          <ng-template #adminData>
            <tr *ngFor="let admin of adminList; index as i">
              <td>{{ i + 1 }}</td>
              <td>{{ admin.adminId }}</td>
              <td>{{ admin.firstName }}</td>
              <td>{{ admin.lastName }}</td>
              <td>{{ admin.email }}</td>
              <td>{{ admin.phoneNumber }}</td>
              <td>
                <button type="button" class="btn btn-danger" (click)="deleteAdmin(admin.adminId)">Delete</button>
              </td>
            </tr>
          </ng-template>
        </tbody>
      </table>
    </div>
  </div>
</div>
